.noteInput {
  height: 40px;
  padding: 10px;
  width: 350px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.noteButton {
  height: 40px;
  padding: 0px 20px;
  background: #23e088;
  color: #303030;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.noteButton:hover {
  background: #13c673;
  cursor: pointer;
}